import React, { Component } from 'react';
import { connect } from 'react-redux';
// import PropTypes from 'prop-types';
// import classNames from 'classnames';

const mapStateToProps = state => ({
});

const mapDispatchToProps = dispatch => ({
});

@connect(mapStateToProps, mapDispatchToProps)
export default class {{componentName}} extends Component {

  static propTypes = { }

  static defaultProps = { }

  render() {
    return (
      <div className="{{componentName}}">
        {{componentName}}
      </div>
    );
  }
}
