// @flow

import React, { PureComponent } from 'react';
import { connect } from 'react-redux';

type State = {};

type Props = {};

const mapStateToProps = (state: State) => ({
});

const mapDispatchToProps = (dispatch: Dispatch) => ({
});

@connect(mapStateToProps, mapDispatchToProps)
export default class {{componentName}} extends PureComponent<Props> {

  static defaultProps = { }

  render() {
    return (
      <div className="{{componentName}}">
        {{componentName}}
      </div>
    );
  }
}
