// @flow

import React from 'react';

import './{{componentName}}.scss';

type Props = {
};

cosnt {{componentName}} = (props: Props) =>(
  <div className="{{componentName}}">
  </div>
);

{{componentName}}.defaultProps = {
};

export default {{componentName}};
