import React from 'react';
import PropTypes from 'prop-types';

import './{{componentName}}.scss';

function {{componentName}}(props) {
  return (
    <div className="{{componentName}}">
    </div>
  )
}

{{componentName}}.propTypes = {
};

{{componentName}}.defaultProps = {
};

export default {{componentName}};
